#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Layer 0";
            // 3 filas x 12 + 6 thumbs = 42 posiciones
            bindings = <
                // fila 1
                &kp A   &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                // fila 2
                &trans  &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                // fila 3
                &trans  &trans &trans &trans &trans &trans    &trans &trans &trans &trans &trans &trans
                // thumbs (3 izq | 3 der)
                &trans  &trans &trans                      &trans &trans &trans
            >;
        };
    };
};
