/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/led/led.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/reset.h>

&led_strip {
    chain-length = <27>;
};

/ {
        macros {

        vol_up: vol_up {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_tap &kp C_VOL_UP
            >;
        };

        spootlight: spootlight {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
			    &macro_press &kp LGUI      // 1. Presiona ⌘ (Command)
			    &macro_tap   &kp SPACE     // 2. Toca SPACE mientras ⌘ sigue presionado
			    &macro_release &kp LGUI    // 3. Suelta ⌘ (Command)
            >;
        };

        accent_dead: accent_dead {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp E
                &macro_release &kp LALT
            >;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        // tecla ñ
        enye: enye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp N
                &macro_release &kp LALT
                &macro_tap &kp N
            >;
            wait-ms = <10>;
            tap-ms = <10>;
        };

        // Símbolos con Shift para macOS - Fila 1
        exclamation: exclamation {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N1
                &macro_release &kp LSHIFT
            >;
        };

        hash_sym: hash_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N3
                &macro_release &kp LSHIFT
            >;
        };

        dollar: dollar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N4
                &macro_release &kp LSHIFT
            >;
        };

        percent_sym: percent_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N5
                &macro_release &kp LSHIFT
            >;
        };

        ampersand: ampersand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N7
                &macro_release &kp LSHIFT
            >;
        };

        left_paren: left_paren {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N9
                &macro_release &kp LSHIFT
            >;
        };

        right_paren: right_paren {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N0
                &macro_release &kp LSHIFT
            >;
        };

        question: question {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp FSLH
                &macro_release &kp LSHIFT
            >;
        };

        pipe_sym: pipe_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp BSLH
                &macro_release &kp LSHIFT
            >;
        };

        // Símbolos con Shift para macOS - Fila 3
        at_sym: at_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N2
                &macro_release &kp LSHIFT
            >;
        };

        tilde_sym: tilde_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp GRAVE
                &macro_release &kp LSHIFT
            >;
        };

        caret_sym: caret_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N6
                &macro_release &kp LSHIFT
            >;
        };

        plus_sym: plus_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp EQUAL
                &macro_release &kp LSHIFT
            >;
        };

        star_sym: star_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp N8
                &macro_release &kp LSHIFT
            >;
        };

        underscore: underscore {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp MINUS
                &macro_release &kp LSHIFT
            >;
        };

        colon_sym: colon_sym {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LSHIFT
                &macro_tap &kp SEMICOLON
                &macro_release &kp LSHIFT
            >;
        };

        // Macros para TAP (letra normal)
        macro_tap_a: macro_tap_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A>;
        };

        macro_tap_e: macro_tap_e {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp E>;
        };

        macro_tap_i: macro_tap_i {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I>;
        };

        macro_tap_o: macro_tap_o {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O>;
        };

        macro_tap_u: macro_tap_u {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp U>;
        };

        // Macros para HOLD (letra con acento)
        macro_a_accent: macro_a_accent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp E
                &macro_release &kp LALT
                &macro_tap &kp A
            >;
        };

        macro_e_accent: macro_e_accent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp E
                &macro_release &kp LALT
                &macro_tap &kp E
            >;
        };

        macro_i_accent: macro_i_accent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp E
                &macro_release &kp LALT
                &macro_tap &kp I
            >;
        };

        macro_o_accent: macro_o_accent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp E
                &macro_release &kp LALT
                &macro_tap &kp O
            >;
        };

        macro_u_accent: macro_u_accent {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_press &kp LALT
                &macro_tap &kp E
                &macro_release &kp LALT
                &macro_tap &kp U
            >;
        };

    };

    behaviors {
        a_accent: a_accent {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&macro_a_accent>, <&macro_tap_a>;
        };

        e_accent: e_accent {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&macro_e_accent>, <&macro_tap_e>;
        };

        i_accent: i_accent {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&macro_i_accent>, <&macro_tap_i>;
        };

        o_accent: o_accent {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&macro_o_accent>, <&macro_tap_o>;
        };

        u_accent: u_accent {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&macro_u_accent>, <&macro_tap_u>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
            // ----------  Mano izquierda - Fila 1  ----------
                &a_accent 0 0
                &e_accent 0 0
                &i_accent 0 0
                &o_accent 0 0
                &u_accent 0 0
                &enye
            // ----------  Mano derecha - Fila 1  ----------
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Mano izquierda - Fila 2  ----------
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Mano derecha - Fila 2  ----------
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Mano izquierda - Fila 3  ----------
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Mano derecha - Fila 3  ----------
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Pulgares 1  ----------
                &none
                &none
                &none
            // ----------  Pulgares 2  ----------
                &none
                &none
                &none
            >;
        };

        raise_layer {
            display-name = "Raise Layer";
            bindings = <
            // ----------  Fila 1  ----------
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Fila 2  ----------
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Fila 3  ----------
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Pulgares 1  ----------
                &none
                &none
                &none
            // ----------  Pulgares 2  ----------
                &none
                &none
                &none
            >;
        };

        lower_layer {
            display-name = "Lower Layer";
            bindings = <
            // ----------  Fila 1  ----------
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Fila 2  ----------
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Fila 3  ----------
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
                &none
            // ----------  Fila 1  ----------
                &none
                &none
                &none
            // ----------  Fila 1  ----------
                &none
                &none
                &none
            >;
        };
    };
};
